{% extends "base.html" %}

{% block content %}

<div class="page-header">

<h1>📈 Dashboard 2</h1>

<p>

Regional & State-wise Electricity Consumption Analysis

</p>

</div>

<div class="dashboard-container">

<div class='tableauPlaceholder' id='vizDashboard2'>

<object class='tableauViz'>

<param name='host_url' value='https://public.tableau.com/' />

<param name='embed_code_version' value='3' />

<param name='site_root' value='' />

<param name='name' value='electrictyconsumptionanalysis/Dashboard2' />

<param name='tabs' value='no' />

<param name='toolbar' value='yes' />

<param name='display_spinner' value='yes' />

<param name='display_overlay' value='yes' />

<param name='display_count' value='yes' />

<param name='animate_transition' value='yes' />

<param name='display_static_image' value='yes' />

</object>

</div>

</div>

<script>

var divElement=document.getElementById('vizDashboard2');

var vizElement=divElement.getElementsByTagName('object')[0];

vizElement.style.width='100%';

vizElement.style.height='850px';

var scriptElement=document.createElement('script');

scriptElement.src='https://public.tableau.com/javascripts/api/viz_v1.js';

vizElement.parentNode.insertBefore(scriptElement,vizElement);

</script>

{% endblock %}